Django==5.0.9
django-mssql-backend==2.8.1
python-dotenv==0.21.0
pyodbc==5.2.0
python-decouple==3.8
mssql-django==1.5
requests==2.32.3
plotly==6.0.0
dash==2.18.2
django-plotly-dash==2.4.5
dash-ag-grid==31.3.0
django-cors-headers==4.7.0
geopy==2.4.1
pycountry==24.6.1
fpdf==1.7.2
pandas==2.2.3
seaborn==0.13.2
PyJWT==2.10.1
openpyxl==3.1.5
boto3==1.38.32
whitenoise==6.9.0
gender_guesser==0.4.0